*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
}
.logo h2{
    font-size: 45px;
}


/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}